<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Required only on Android 9 and lower for the public Download directory. -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".LocalSendApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Localsendkotlin"
        tools:targetApi="23">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <service
            android:name=".transfer.TransferService"
            android:exported="false"
            android:stopWithTask="true" />
        <service
            android:name=".quicksettings.QuickSettingsTileService"
            android:exported="true"
            android:icon="@drawable/ic_quick_settings"
            android:label="@string/quick_settings_tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            tools:targetApi="24">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <activity
            android:name=".ReceiveHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.Localsendkotlin" />
        <activity
            android:name=".TransferCenterActivity"
            android:exported="false"
            android:theme="@style/Theme.Localsendkotlin" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Localsendkotlin" />
        <activity
            android:name=".ChangelogActivity"
            android:exported="false"
            android:theme="@style/Theme.Localsendkotlin" />
        <activity
            android:name=".VerificationActivity"
            android:exported="false"
            android:theme="@style/Theme.Localsendkotlin" />
        <activity
            android:name=".ReceiveSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Localsendkotlin" />
        <activity
            android:name=".TextDocumentActivity"
            android:exported="false"
            android:theme="@style/Theme.Localsendkotlin" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Localsendkotlin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
